@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center">@ViewBag.Title</h2>
<br/>
<div class="jumbotron">
    <address>
        Dimitrije Vukovic <br />
        Balzakova 45, Novi Sad <br />
        <abbr title="Phone">Phone:</abbr>
        +381611890019 <br/>
        <strong>Mail:</strong>  <a href="mailto:dmtr.develop@gmail.com">dmtr.develop@gmail.com</a><br />
    </address>
        
</div>
