@{
    ViewBag.Title = "Pizza MVC";
}

<div class="jumbotron">
    <h1>Pizza.NET</h1>
        <p class="lead">MVC Demo Project with Data acess and Google authentication.</p>
        <p>
            <a href="https://localhost:44363/Home/PizzaCatalogue" class="btn btn-danger btn-lg">Pizzas &raquo;</a>
            <a href="https://localhost:44363/Home/Contact" class="btn btn-info btn-lg pull-right">Contact &raquo;</a>
        </p>
</div>


<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p>Those pizzas I ate were for medicinal purposes.</p>
            <footer>Amy Neftzger</footer>
        </blockquote>
    </div>
</div>